body.login {
    background-color: gray!important;
    height:auto;
}

html.login{
    height:auto;
}
body.login div#login h1 a {
    background-image: none;
    text-indent:0;
    height:auto;
    color:#fff;
}


.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #fff;

}
.login #backtoblog{
    margin:16px 0 0 0;
    padding:0 0 30px;
}

#login {
    width: 320px;
    padding: 15px 0;
    margin: auto;
}

.login #nav {
    padding: 0;
}
.login h1 a {
    margin: 0 auto;
}
